@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View5</title>
</head>
<body>
    <div>
        View Name and Controller Action Method Name Both are Different here..
    </div>
</body>
</html>
